<div class="contact" style="text-align: center;margin: 0 auto;padding-top: 50px;">
  <img src="/images/contact.jpg" alt="" style="width: 340px;">
</div>
<div style="margin: 0 auto;width: 340px;padding: 5px 0 15px 0;">
  <p style="line-height: 30px;vertical-align: middle;font-size: 13px;">
    UAL Showtime:
    <a href="http://showtime.arts.ac.uk/ZHIXIANWANG" target="_blank">showtime.arts.ac.uk/ZHIXIANWANG</a>
  </p>
  <P style="line-height: 30px;vertical-align: middle;font-size: 13px;">
    Facebook:
    <a href="http://facebook.com/wangzhixian1988" target="_blank">
      http://facebook.com/wangzhixian1988
    </a>
  </P>
  <p style="line-height: 30px;vertical-align: middle;font-size: 13px;">Instagram: zhixian_wang</p>
  <p style="line-height: 30px;vertical-align: middle;font-size: 13px;">Twitter: @zhixian_wang</p>
  <p style="line-height: 30px;vertical-align: middle;font-size: 13px;">Email: design@zxwangstudio.com</p>
</div>