<div class="contact" style="text-align: center;margin: 0 auto;padding-top: 50px;">
  <img src="/images/contact.jpg" alt="" style="width: 340px;">
</div>
<div style="margin: 0 auto;width: 340px;padding: 5px 0 10px 0;">
  <p style="line-height: 30px;vertical-align: middle;">
    UAL Showtime: showtime.arts.ac.uk/ZHIXIANWANG
  </p>
  <P style="line-height: 30px;vertical-align: middle;">
    Facebook:
    <a href="http://facebook.com/wangzhixian1988" target="_blank">
      http://facebook.com/wangzhixian1988
    </a>
  </P>
  <p style="line-height: 30px;vertical-align: middle;">Instagram: zhixian_wang</p>
  <p style="line-height: 30px;vertical-align: middle;">Twitter: @zhixian_wang</p>
  <p style="line-height: 30px;vertical-align: middle;">Email: design@zxwangstudio.com</p>
</div>